/* Globala inställningar */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	color: #eee;
}

a {
	text-decoration: none;
	color: #eee;
}
/* Slut på globala inställningar */

/* Wrapper */
.wrapper {
	height: 100vh;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* Slut på wrappern */

/* Hero-section */ 
.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-10%);
	  opacity: 0%;
	}
	100% {
	  transform: translateX(0);
	  opacity: 100%;
	}
}

.hero-big-header {
	font-family: 'Lobster', sans-serif;
	font-size: 15rem;
	background: -webkit-linear-gradient(#ffe838, #fd57bf);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.hero-small-header {
	font-size: 2rem;
	font-variant: small-caps;
	letter-spacing: 4px;
	word-spacing: 3px;
	font-style: italic;
}

.button {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #0C5;
	font-size: 24px;
	font-weight: 300;
	margin: 5em auto;
	position: absolute; 
	top:55%; right:-30%; bottom:0; left:0;
	padding: 20px 0;
	width: 220px;
	height:68px;
	background: #0D6;
	border: 1px solid #0D6;
	color: #FFF;
	transition: all 0.5s;
	border-radius: 10px;
}

#hero-button-2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #0C5;
	font-size: 24px;
	font-weight: 300;
	margin: 5em auto;
	position: absolute; 
	top:55%; right:30%; bottom:0; left:0;
	padding: 20px 0;
	width: 220px;
	height:68px;
	background: #0D6;
	border: 1px solid #0D6;
	color: #FFF;
	transition: all 0.5s;
	border-radius: 10px;
}

.button:hover, .button:active {
	text-decoration: none;
	color: #0C5;
	border-color: #0C5;
	background: #FFF;
	cursor: pointer;
}

.button span {
	display: inline-block;
	position: relative;
	padding-right: 0;
	transition: padding-right 0.5s;
}

.button span:after {
	content: ' ';  
	position: absolute;
	top: 0;
	right: -18px;
	opacity: 0;
	width: 10px;
	height: 10px;
	margin-top: -10px;
	background: rgba(0, 0, 0, 0);
	border: 3px solid #FFF;
	border-top: none;
	border-right: none;
	transition: opacity 0.5s, top 0.5s, right 0.5s;
	transform: rotate(-45deg);
}

.button:hover span, .button:active span {
	padding-right: 30px;
}

.button:hover span:after, .button:active span:after {
	transition: opacity 0.5s, top 0.5s, right 0.5s;
	opacity: 1;
	border-color: #0C5;
	right: 0;
	top: 50%;
}
/* Slut på hero-section */ 

/* Product-section */
.product-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 5% 10%;
	height: auto;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1482776651557-b753093333fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.product-item {
	box-sizing: border-box;
	margin: 5px; 
	padding: 10px;
	border: 1px solid #e8f0ff;
	background: #f2f7ff;
}

.product-name {
	font-size: 2rem;
	color: black;
}

.product-price {
	font-size: 1.5rem;
	color: red;
}

.product-img {
	max-width: 100%;
	height: auto;
}

.product-button {
	background: #0C5;
	color: #fff;
	border: none;
	width: 50%;
	padding: 10px;
	margin: 10px 5px 5px 5px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}